body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-image: url("C:/Users/HP/Desktop/weather app 2/weatherapp/Style/Assets/background.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  background: transparent;
  border: 2px solid #508dce;
}

input {
  width: 80%;
  padding: 10px 5px;
  margin: 10px 0px;
}
input::placeholder {
  font-family: "Courier New", Courier, monospace;
  /* text-align: center; */
  font-style: italic;
}
button {
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: #2066b1;
  color: #ffff;
  border: black;
  border-radius: 10px;
  cursor: pointer;
}

#weatherInfo {
  display: none;
  margin: 20px 0;
}
